{% extends "layout/admin.twig" %}

{% block content %}
	<form class="add-form" method='POST'>
		<div>
			<label for="name">Nom de la catégorie</label>
			<input value="{{category.name}}" type="text" name="name" id="name">
		</div>
		{% if errors.name %}
			<p class="error">{{errors.name}}</p>
		{% endif %}
		<div>
			<label for="color">Couleur</label>
			<input value="{{category.color}}" type="color" id="color" name="color">
		</div>
		{% if errors.color %}
			<p class="error">{{errors.color}}</p>
		{% endif %}
		<div>
			<button class="btn" type="submit">Ajouter</button>
		</div>
	</form>
{% endblock %}
