{% extends "layout/admin.twig" %}

{% block content %}
	<h1>Utilisateurs</h1>

	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>prénom</th>
				<th>nom</th>
				<th>email</th>
				<th>admin</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{user.user_id}}</td>
					<td>{{user.first_name | raw}}</td>
					<td>{{user.last_name | raw}}</td>
					<td>{{user.email}}</td>
					<td>
						<div class="user--admin">{{user.is_admin ? '×' : '' | raw}}</div>
					</td>
					<td>
						<div class="actions">
							{% if not user.is_admin %}
								<form action="/admin/utilisateurs/supprimer/{{user.user_id}}" method="POST">
									<button class="trash"></button>
								</form>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
