{% extends "layout/admin.twig" %}

{% block content %}
	<h1>Categories</h1>

	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>nom</th>
				<th>couleur</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}

				<tr>
					<td>{{category.category_id}}</td>
					<td>{{category.name | raw}}</td>
					<td style="padding: 0">
						<div class="category__color" style="background-color: {{category.color}}">&nbsp;</div>
					</td>
					<td>
						<div class="actions">
							<a href="/admin/categories/modifier/{{category.category_id}}" class="edit"></a>
							<form action="/admin/categories/supprimer/{{category.category_id}}" method="POST">
								<button class="trash"></button>
							</form>
						</div>
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="add-container">
		<a class="btn" href="/admin/categories/ajouter">Ajouter une catégorie</a>
	</div>
{% endblock %}
