{% extends "layout/admin.twig" %}


{% block content %}
	<h1>Produits</h1>

	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>nom</th>
				<th>prix</th>
				<th>quantité</th>
				<th>poids</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{product.product_id}}</td>
					<td>
						<div class="product--name">
							<img src="{{product.image_url}}" alt="">
							<span>
								{{product.name | raw}}
							</span>
						</div>
					</td>
					<td>{{product.price}}€</td>
					<td>{{product.quantity}}</td>
					<td>{{product.weight}}</td>
					<td>
						<div class="actions">
							<a href="/admin/produits/modifier/{{product.product_id}}" class="edit"></a>
							<form action="/admin/produits/supprimer/{{product.product_id}}" method="POST">
								<button class="trash"></button>
								{# <input type="hidden" name="product_id" value={{product.product_id}} /> #}
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="add-container">
		<a class="btn" href="/admin/produits/ajouter">Ajouter un nouveau produit</a>
	</div>
{% endblock %}
