{% extends "layout/main.twig" %}

{% block head %}
	<link rel="stylesheet" href="/public/assets/scss/cart.css">

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/public/assets/js/cart.js" defer></script>
{% endblock %}

{% block content %}
	{% if cart %}
		<template id="delete-item-template">
			<div id="backdrop">
				<form>
					<p></p>
					<div>
						<button id="cancel-btn" class="btn" type="button">Annuler</button>
						<button class="btn" type="submit">Valider</button>
					</div>
				</form>
			</div>
		</template>
		<div class="form">
			<table class="cart">
				<thead>
					<th>Nom du produit</th>
					<th>Quantité</th>
					<th>Prix total</th>
				</thead>
				<tbody>

					{% for cart_item in cart %}
						<tr class="product">
							<td class="product__header">
								<img src={{cart_item.image_url}} alt="">
								<span>{{cart_item.name | raw}}</span>
							</td>
							<td class="product__quantity">
								<div>
									<input type="hidden" name="product_id" value={{cart_item.product_id}}>
									<input type="hidden" name="user_id" value={{user.user_id}}>
									<input type="hidden" name="productPrice" value={{cart_item.price}}>
									<input min="0" type="number" name="product_quantity" value={{cart_item.quantity_in_cart}}>
									<span class="trash"></span>
								</div>
							</td>
							<td class="product__total">{{cart_item.quantity_in_cart * cart_item.price}}€</td>
						</tr>
					{% endfor %}
					<tr class="product">
						<td></td>
						<td class="total__quantity"></td>
						<td class="total__price">€</td>
					</tr>
				</tbody>
			</table>
			<a href="/commande/valider" class="btn">Valider le panier</a>
		</div>
	{% else %}
		<h2>Rien dans le panier...</h2>
	{% endif %}


{% endblock %}
