{% extends "layout/auth.twig" %}

{% block form_inputs %}
	<!-- emplacement message d'erreur si mot de passe invalide ou utilisateur non trouvé -->
	{% if  errors.not_found %}
		<p class="error">{{errors.not_found}}</p>
	{% endif %}
	<div>
		<input placeholder=" " autocomplete="off" type="email" name="email" id="email" value="{{email}}">
		<label for="email">Email</label>
	</div>
	<!-- emplacement message d'erreur email -->
	{% if errors.email %}
		<p class="error">{{errors.email}}</p>
	{% endif %}
	<div class="password__container">
		<span class="eye--open"></span>
		<input placeholder=" " autocomplete="off" type="password" name="password" id="password" value="{{password}}">
		<label for="password">Mot de passe</label>
	</div>
	<!-- emplacement message d'erreur mot de passe -->
	{% if errors.password %}
		<p class="error">{{errors.password}}</p>
	{% endif %}
{% endblock %}
