{% extends "layout/main.twig" %}

{% block head %}
	<link rel="stylesheet" href="/public/assets/scss/order.css">
{% endblock %}

{% block content %}
	<h1>Récapitulatif de commande</h1>
	<form action="/commande/paiement" method="POST">
		<div>
			<fieldset>
				<legend>Coordonnées</legend>
				<div class="form__row">
					<div>
						<div>
							<input placeholder=" " autocomplete="off" type="text" name="first_name" id="first_name" value="{{fields.first_name ?? user.first_name}}">
							<label for="first_name">Prénom</label>
						</div>
						<!-- emplacement message d'erreur first_name -->
						{% if errors.first_name %}
							<p class="error">{{errors.first_name}}</p>
						{% endif %}
					</div>
					<div>
						<div>
							<input placeholder=" " autocomplete="off" type="text" name="last_name" id="last_name" value="{{fields.last_name ?? user.last_name}}">
							<label for="last_name">Nom</label>
						</div>
						<!-- emplacement message d'erreur last_name -->
						{% if errors.last_name %}
							<p class="error">{{errors.last_name}}</p>
						{% endif %}
					</div>
				</div>
				<div class="form__row">
					<div>
						<div>
							<input placeholder=" " autocomplete="off" type="email" name="email" id="email" value="{{fields.email ?? user.email}}">
							<label for="email">Email</label>
						</div>
						<!-- emplacement message d'erreur email -->
						{% if errors.email %}
							<p class="error">{{errors.email}}</p>
						{% endif %}
					</div>
					<div>
						<div>
							<input placeholder=" " autocomplete="off" type="text" name="address" id="address" value="{{fields.address ?? user.address}}">
							<label for="address">Addresse</label>
						</div>
						<!-- emplacement message d'erreur address -->
						{% if errors.address %}
							<p class="error">{{errors.address}}</p>
						{% endif %}
					</div>
				</div>
				<div class="form__row">
					<div>
						<div>
							<input placeholder=" " autocomplete="off" type="number" name="postal_code" id="postal_code" value="{{fields.postal_code ?? user.postal_code}}">
							<label for="postal_code">Code postal</label>
						</div>
						<!-- emplacement message d'erreur postal_code -->
						{% if errors.postal_code %}
							<p class="error">{{errors.postal_code}}</p>
						{% endif %}
					</div>
					<div>
						<div>
							<input placeholder=" " autocomplete="off" type="text" name="city" id="city" value="{{fields.city ?? user.city}}">
							<label for="city">Ville</label>
						</div>
						<!-- emplacement message d'erreur city -->
						{% if errors.city %}
							<p class="error">{{errors.city}}</p>
						{% endif %}
					</div>
				</div>
				<div class="form__row">
					<div>
						<div>
							<input placeholder=" " autocomplete="off" type="text" name="country" id="country" value="{{fields.country ?? user.country}}">
							<label for="country">Pays</label>
						</div>
						<!-- emplacement message d'erreur country -->
						{% if errors.country %}
							<p class="error">{{errors.country}}</p>
						{% endif %}
					</div>
				</div>
			</fieldset>
			<table class="cart">
				<caption>Contenu de la commande</caption>
				<thead>
					<th>Nom du produit</th>
					<th>Quantité</th>
					<th>Prix total</th>
				</thead>
				<tbody>
					{% for cart_item in cart %}
						<tr class="product">
							<td class="product__header">
								<img src={{cart_item.image_url}} alt="">
								<span>{{cart_item.name | raw}}</span>
							</td>
							<td class="product__quantity">
								<div>{{cart_item.quantity_in_cart}}</div>
							</td>
							<td class="product__total">{{cart_item.quantity_in_cart * cart_item.price}}€</td>
						</tr>
					{% endfor %}
					<tr class="product">
						<td></td>
						<td class="total__quantity">{{cart_total_items}}</td>
						<td class="total__price">{{cart_total_price}}€</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button class="btn">Aller au paiement</button>
	</form>
{% endblock %}
