{% extends "layout/main.twig" %}

{% block head %}
	<script src="https://js.stripe.com/v3/"></script>
	<script src="/public/assets/js/payment.js" defer></script>
{% endblock %}

{% block content %}
	<form method="POST" action="/commande/paiement/success" id="payment-form">
		<div class="form-row">
			<label for="card-element">Carte de crédit ou de débit</label>
			<div
				id="card-element"><!-- a Stripe Element will be inserted here. -->
			</div>
			<!-- Used to display form errors -->
			<div id="card-errors"></div>
		</div>
		<input type="hidden" name="amount_to_pay" value="{{cart_total_price}}">
		<button>Payer</button>
	</form>
{% endblock %}
