{% extends "layout/main.twig" %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/public/assets/js/product.js" defer></script>

	<link rel="stylesheet" href="/public/assets/scss/products.css">
{% endblock %}


{% block content %}
	<div class="product__container">
		<article>
			<form method="POST" action="/panier">
				<div>
					<h2>{{product.name | raw }}</h2>
					<img src={{product.image_url}} alt="">
				</div>
				<div>
					<div>
						{{product.description}}
					</div>
					<div>
						<div class="product__footer">
							<span class="product__footer__price">{{product.price}}€</span>
							{% if product.quantity > 0 %}
								<div>
									<label for="product-quantity">quantité:</label>
									<input type="number" min='1' value="1" max="{{product.quantity}}" name="quantity" id="product-{{product.product_id}}-quantity">
								</div>
							{% endif %}
						</div>

						<input type="hidden" name="product_id" value={{product.product_id}}>
						<input type="hidden" name="user_id" value={{user.user_id}}>

						{% if user %}
							{% if product.quantity == 0 %}
								<span class="not-in-stock">Produit en rupture</span>
							{% endif %}
							<button {{product.quantity == 0 ? 'disabled' : '' }} type=" submit">
								<div class="added-to-cart"></div>
								<span class="add-to-cart-text">
									<span class="cart--icon"></span>
									ajouter au panier
								</span>
							</button>
						{% else %}
							<div class="add-to-cart-not-logged">
								<a class="add-to-cart-text" href="/login">
									<span class="cart--icon"></span>
									ajouter au panier
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</form>
		</article>
	</div>
{% endblock %}
