{% extends "layout/main.twig" %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/public/assets/js/products.js" defer></script>

	<link rel="stylesheet" href="/public/assets/scss/products.css">
{% endblock %}

{% block content %}
	<div class="products__wrapper">
		<div class="search__form__container">
			<form data-search="true" class="search__form">
				<label for="search">
					<input type="search" placeholder="Nom du produit" value="{{fields.q}}" name="q" id="search"/>
				</label>

				<div class="search__form__price">Prix:</div>
				<span class="multi-range">
					<div id="lower-text"></div>
					<input name="min_price" type="range" min="0" max="{{product_max_price}}" value="{{fields.min_price ?? 0 }}" id="lower"/>
					<div id="upper-text"></div>
					<input name="max_price" type="range" min="0" max="{{product_max_price}}" value="{{ fields.max_price ?? product_max_price}}" id="upper"/>
				</span>

				<button type="submit">rechercher</button>
			</form>
		</div>

		<div class="products__container">
			{% if products %}
				{% for product in products %}
					<article>
						<form method="POST" action="/panier">
							<a href="/produits/{{product.product_id}}">
								<h2>{{product.name | raw }}</h2>
								<img src={{product.image_url}} alt="">

							</a>
							<div>
								<div class="product__footer">
									<span class="product__footer__price">{{product.price}}€</span>
									{% if product.quantity > 0 %}
										<div>
											<label for="product-quantity">quantité:</label>
											<input type="number" min='1' value="1" max="{{product.quantity}}" name="quantity" id="product-{{product.product_id}}-quantity">
										</div>
									{% endif %}
								</div>

								<input type="hidden" name="product_id" value={{product.product_id}}>
								<input type="hidden" name="user_id" value={{user.user_id}}>

								{% if user %}
									{% if product.quantity == 0 %}
										<span class="not-in-stock">Produit en rupture</span>
									{% endif %}
									<button {{product.quantity == 0 ? 'disabled' : '' }} type=" submit">
										<div class="added-to-cart"></div>
										<span class="add-to-cart-text">
											<span class="cart--icon"></span>
											ajouter au panier
										</span>
									</button>
								{% else %}
									<div class="add-to-cart-not-logged">
										<a class="add-to-cart-text" href="/login">
											<span class="cart--icon"></span>
											ajouter au panier
										</a>
									</div>
								{% endif %}
							</div>
						</form>
					</article>
				{% endfor %}
			{% else %}
				<h1>Désolé pas de résultats...</h1>
			{% endif %}

		</div>
	</div>
{% endblock %}
