{% extends "layout/auth.twig" %}

{% block form_inputs %}

	<div class="form__row">
		<div>
			<div>
				<input autofocus placeholder=" " autocomplete="off" type="text" name="first_name" id="first_name" value="{{fields.first_name}}">
				<label for="first_name">Prénom</label>
			</div>
			{% if errors.first_name %}
				<p class="error">{{errors.first_name}}</p>
			{% endif %}
		</div>
		<div>
			<div>
				<input placeholder=" " autocomplete="off" type="text" name="last_name" id="last_name" value="{{fields.last_name}}">
				<label for="last_name">Nom</label>
			</div>
			{% if errors.last_name %}
				<p class="error">{{errors.last_name}}</p>
			{% endif %}
		</div>
	</div>

	<div class="form__row">
		<div>
			<div>
				<input placeholder=" " autocomplete="off" min="18" max="100" type="number" name="age" id="age" value="{{fields.age}}">
				<label for="age">Age</label>
			</div>
			{% if errors.age %}
				<p class="error">{{errors.age}}</p>
			{% endif %}
		</div>

		<div>
			<div>
				<input placeholder=" " autocomplete="off" type="email" name="email" id="email" value="{{fields.email}}">
				<label for="email">Email</label>
			</div>
			{% if errors.email %}
				<p class="error">{{errors.email}}</p>
			{% endif %}
		</div>
	</div>

	<div class="form__row">
		<div>
			<div class="password__container">
				<span class="eye--open"></span>
				<input placeholder=" " autocomplete="off" type="password" name="password" id="password" value="{{fields.password}}">
				<label for="password">Mot de passe</label>
			</div>
			{% if errors.password %}
				<p class="error">{{errors.password}}</p>
			{% endif %}
		</div>

		<div>
			<div class="password__container">
				<span class="eye--open"></span>
				<input placeholder=" " autocomplete="off" type="password" name="confirm_password" id="confirm_password" value="{{fields.confirm_password}}">
				<label for="confirm_password">Confirmation mot de passe</label>
			</div>
			{% if errors.confirm_password %}
				<p class="error">{{errors.confirm_password}}</p>
			{% endif %}
		</div>
	</div>

	<div class="form__row">
		<div>
			<div>
				<input placeholder=" " autocomplete="off" type="text" name="address" id="address" value="{{fields.address}}">
				<label for="address">Adresse</label>
			</div>
			{% if errors.address %}
				<p class="error">{{errors.address}}</p>
			{% endif %}
		</div>

		<div>
			<div>
				<input placeholder=" " autocomplete="off" type="number" name="postal_code" id="postal_code" value="{{fields.postal_code}}">
				<label for="postal_code">Code postal</label>
			</div>
			{% if errors.postal_code %}
				<p class="error">{{errors.postal_code}}</p>
			{% endif %}
		</div>
	</div>

	<div class="form__row">
		<div>
			<div>
				<input placeholder=" " autocomplete="off" type="text" name="city" id="city" value="{{fields.city}}">
				<label for="city">Ville</label>
			</div>
			{% if errors.city %}
				<p class="error">{{errors.city}}</p>
			{% endif %}
		</div>

		<div>
			<div>
				<input placeholder=" " autocomplete="off" type="text" name="country" id="country" value="{{fields.country}}">
				<label for="country">Pays</label>
			</div>
			{% if errors.country %}
				<p class="error">{{errors.country}}</p>
			{% endif %}
		</div>
	</div>

{% endblock %}
