{% extends "layout/main.twig" %}


{% block content %}
	<div class="payment__success">
		<h1>Commande
			{{order_id}}
			reussi !</h1>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aut eaque mollitia numquam magni laboriosam adipisci nisi culpa quae sunt voluptate, repellat explicabo quas ipsa officiis animi, nobis qui nulla? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum porro et ratione, explicabo in dolore corporis impedit quidem, iusto incidunt nisi eaque doloribus harum laborum, atque corrupti mollitia perferendis distinctio unde quo veniam eum saepe molestias quos? Blanditiis repudiandae iste, necessitatibus vitae natus a ut in quo ea quos vero quisquam eaque commodi, quam aspernatur id dignissimos. Aliquam deserunt sunt officia inventore facere maiores quisquam facilis ea, consequatur ut quis.</p>
	</div>
{% endblock %}
