@charset "UTF-8";
@font-face {
  font-family: "dw-shop";
  src: url("/public/assets/fonts/dw-shop/dw-shop.eot?s3lb61");
  src: url("/public/assets/fonts/dw-shop/dw-shop.eot?s3lb61#iefix") format("embedded-opentype"), url("/public/assets/fonts/dw-shop/dw-shop.ttf?s3lb61") format("truetype"), url("/public/assets/fonts/dw-shop/dw-shop.woff?s3lb61") format("woff"), url("/public/assets/fonts/dw-shop/dw-shop.svg?s3lb61#dw-shop") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.container .blur, .container form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 800px;
  border-radius: 10px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.container form fieldset div.password__container .eye--open, .container form fieldset div.password__container .eye--close {
  position: absolute;
  cursor: pointer;
  right: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  transform: translateY(-50%);
  font-family: "dw-shop";
}

.container {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5) url("../../images/bg.jpg") no-repeat center;
}

.container .blur {
  background: rgba(255, 255, 255, 0.5) url("../../images/bg.jpg") no-repeat center;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 2rem;
  z-index: 1;
  padding: 2rem;
}

.container form fieldset {
  z-index: 1;
  margin: auto;
  border: none;
}

.container form fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
  position: relative;
}

.container form fieldset div:first-child {
  margin-top: 0;
}

.container form fieldset div .tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  top: 0;
  right: -1.25rem;
  height: 1rem;
  width: 1rem;
  cursor: help;
  font-size: 0.6em;
  border: 1px solid #1f31d1;
  color: #fff;
  background-color: rgba(31, 49, 209, 0.749);
  border-radius: 50%;
}

.container form fieldset div input {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  border-bottom: 4px solid transparent;
  width: 100%;
}

.container form fieldset div input:placeholder-shown + label {
  font-size: 0.75em;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 0.5rem;
}

.container form fieldset div input:focus, .container form fieldset div input:not(:placeholder-shown) {
  border-bottom: 4px solid #294345;
}

.container form fieldset div input:focus + label,
.container form fieldset div input:not(:placeholder-shown) + label {
  bottom: 2.4rem;
  left: 0;
  font-size: 1em;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container form fieldset div input.error {
  border: 2px solid #c50c0c;
}

.container form fieldset div label {
  cursor: text;
  pointer-events: none;
  position: absolute;
  -webkit-transition: all 175ms ease-in;
  transition: all 175ms ease-in;
}

.container form fieldset div.password__container {
  position: relative;
}

.container form fieldset div.password__container .eye--open:after {
  content: "ऀ";
}

.container form fieldset div.password__container .eye--close:after {
  content: "ँ";
}

.container form fieldset div.form__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
  gap: 2rem;
}

.container form fieldset div.form__row div {
  margin-top: 0;
  width: 100%;
}

.container form fieldset a {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-transition: all 175ms ease-in;
  transition: all 175ms ease-in;
  position: relative;
}

.container form fieldset a:before {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #294345;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 175ms ease-in;
  transition: all 175ms ease-in;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.container form fieldset a:hover {
  color: #294345;
}

.container form fieldset a:hover:before {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #294345;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container form fieldset button {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  padding: 0.5rem 2.5rem;
  border: none;
  width: 100%;
  background-color: #294345;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 120ms ease-in;
  transition: all 120ms ease-in;
  border-radius: 5px;
}

.container form fieldset button:hover {
  background-color: #417579;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}
/*# sourceMappingURL=auth.css.map */