@import '../variables';
@import '../fonts';

%form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 800px;
  border-radius: 10px;
  // height: 40rem;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

%eye {
  position: absolute;
  cursor: pointer;
  right: 0.5rem;
  transform: translateY(-50%);
  top: 50%;
  transform: translateY(-50%);
  font-family: $dw-font-family;
}

.container {
  font-family: $font-family;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5) url('../../images/bg.jpg') no-repeat center;

  .blur {
    @extend %form;
    background: rgba(255, 255, 255, 0.5) url('../../images/bg.jpg') no-repeat center;
    filter: blur(5px);
  }

  form {
    @include flex(center, center, column nowrap);
    @extend %form;
    gap: 2rem;
    z-index: 1;
    padding: 2rem;

    // &:hover + .blur {
    //   //
    // }

    fieldset {
      z-index: 1;
      margin: auto;
      border: none;

      div {
        @include flex(flex-start, center, column nowrap);
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        gap: 1rem;
        position: relative;

        &:first-child {
          margin-top: 0;
        }

        .tooltip {
          @include flex(center, center);
          position: absolute;
          top: 0;
          right: -1.25rem;
          height: 1rem;
          width: 1rem;
          cursor: help;
          font-size: 0.6em;
          border: 1px solid #1f31d1;
          color: #fff;
          background-color: rgba(31, 49, 209, 0.749);
          border-radius: 50%;
        }

        input {
          padding: 0.5rem 1.5rem 0.5rem 0.5rem;
          border: none;
          border-radius: 5px;
          border-bottom: 4px solid transparent;
          width: 100%;

          &:placeholder-shown + label {
            font-size: 0.75em;
            bottom: 50%;
            transform: translateY(50%);
            left: 0.5rem;
          }

          &:focus,
          &:not(:placeholder-shown) {
            border-bottom: 4px solid #294345;
          }

          &:focus + label,
          &:not(:placeholder-shown) + label {
            bottom: 2.4rem;
            left: 0;
            font-size: 1em;
            transform: translateY(0);
            // color: #fff;
          }

          &.error {
            border: 2px solid rgb(197, 12, 12);
          }
        }

        label {
          cursor: text;
          pointer-events: none;
          position: absolute;
          transition: all 175ms ease-in;
        }

        &.password__container {
          position: relative;

          .eye--open {
            @extend %eye;

            &:after {
              content: $dw-eye-open;
            }
          }

          .eye--close {
            @extend %eye;

            &:after {
              content: $dw-eye-close;
            }
          }
        }

        &.form__row {
          flex-flow: row nowrap;
          align-items: flex-start;
          margin-top: 2rem;
          gap: 2rem;

          div {
            margin-top: 0;
            width: 100%;
          }
        }
      }

      a {
        text-align: center;
        width: fit-content;
        margin: auto;
        transition: all 175ms ease-in;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: -0.25rem;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #294345;
          transform: scale(0);
          transition: all 175ms ease-in;
          transform-origin: 0% 50%;
        }

        &:hover {
          color: #294345;

          &:before {
            content: '';
            position: absolute;
            bottom: -0.25rem;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #294345;
            transform: scale(1);
          }
        }
      }

      button {
        font-family: $font-family;

        padding: 0.5rem 2.5rem;
        border: none;
        width: 100%;
        background-color: #294345;
        color: #fff;
        cursor: pointer;
        transition: all 120ms ease-in;
        border-radius: 5px;

        &:hover {
          background-color: #417579;
          transform: scale(1.015);
        }
      }
    }
  }
}
