body {
  display: block;
}

.admin {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem auto;
      grid-template-rows: 8rem auto;
  -ms-grid-columns: 15rem auto;
      grid-template-columns: 15rem auto;
      grid-template-areas: 'admin-sidebar admin-header' 'admin-sidebar admin-main';
  color: #ddd;
  min-height: 100vh;
}

.admin--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: admin-header;
  background-color: #333;
  height: 8rem;
  padding: 0 4rem;
  width: calc(100% - 15rem);
  margin-left: 15rem;
}

.admin--welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.admin--welcome p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0.5rem;
}

.admin--sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: admin-sidebar;
  background-color: #202020;
  -webkit-box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.35);
  z-index: 50;
}

.admin--sidebar .img__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 8rem;
}

.admin--sidebar .img__container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.admin--sidebar .img__container img {
  width: 75%;
  max-width: 100%;
}

.admin--sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 10rem;
  gap: 2rem;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: admin-main;
  color: #000;
  padding: 4rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

main h1 {
  margin: 2rem 0;
  text-align: center;
  font-size: 2rem;
}

main table {
  width: 100%;
  border-radius: 5px;
}

main table tr {
  text-align: center;
  border-bottom: 1px solid black;
}

main table th,
main table td {
  padding: 1rem;
  vertical-align: middle;
}

main table td .product--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 2rem;
}

main table td .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0.5rem;
  font-size: 1.2rem;
}

main table td .actions a,
main table td .actions button {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

main table td .actions a:hover,
main table td .actions button:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

main table td img {
  width: 4rem;
}

main .add-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

main .add-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 1rem;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  main .add-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

main .add-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 1rem;
  width: 80%;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  main .add-form div {
    width: 40%;
  }
}

main .add-form div input,
main .add-form div textarea {
  padding: 0.5rem;
  min-height: 2rem;
  width: 100%;
}

main .add-form div textarea {
  min-height: 20rem;
}

@media (min-width: 992px) {
  main div.form__row--image-description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

main div.form__row--image-description div.img__container {
  height: 100%;
}

main div.form__row--image-description div.img__container img {
  min-width: 10rem;
  width: 75%;
  max-width: 100%;
}

main div.form__row--image-description div.img__field {
  width: 100%;
}

.category__color {
  width: 50%;
  margin: auto;
}

.user--admin {
  font-size: 2.25rem;
}
/*# sourceMappingURL=admin.css.map */