@import '../variables';

body {
  display: block;
}

.admin {
  display: grid;
  grid-template-rows: 8rem auto;
  grid-template-columns: 15rem auto;
  grid-template-areas: 'admin-sidebar admin-header' 'admin-sidebar admin-main';
  color: #ddd;
  min-height: 100vh;

  &--header {
    @include flex(center, space-between);
    grid-area: admin-header;
    background-color: $admin-layout-color;
    height: 8rem;
    padding: 0 4rem;
    width: calc(100% - 15rem);
    margin-left: 15rem;
  }

  &--welcome {
    @include flex(center, center);
    gap: 1rem;
    width: fit-content;

    p {
      @include flex(center, center);
      gap: 0.5rem;
    }
  }

  &--sidebar {
    grid-area: admin-sidebar;
    background-color: darken($admin-layout-color, 7.5%);
    box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.35);
    z-index: 50;

    .img__container {
      @include flex(center, center);
      height: 8rem;

      a {
        @include flex(center, center);
      }

      img {
        width: 75%;
        max-width: 100%;
      }
    }

    ul {
      @include flex(center, center, column nowrap);
      padding-top: 10rem;
      gap: 2rem;
    }
  }
}

main {
  grid-area: admin-main;
  color: #000;
  padding: 4rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    margin: 2rem 0;
    text-align: center;
    font-size: 2rem;
  }

  table {
    width: 100%;
    border-radius: 5px;

    tr {
      text-align: center;
      border-bottom: 1px solid black;
    }

    th,
    td {
      padding: 1rem;
      vertical-align: middle;
    }

    td {
      .product--name {
        @include flex(center);
        gap: 2rem;
      }

      .actions {
        @include flex(center, center);
        gap: 0.5rem;
        font-size: 1.2rem;

        a,
        button {
          transition: all 200ms ease-in;

          &:hover {
            transform: scale(1.4);
          }
        }
      }

      img {
        width: 4rem;
      }
    }
  }

  .add-container {
    @include flex(center, flex-end);
  }

  .add-form {
    // à partir de 0px
    @include flex(center, space-between, column nowrap);
    gap: 1rem;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;

    // a partir de 992px
    @include lg {
      flex-flow: row wrap;
    }

    div {
      @include flex(flex-start, center, column nowrap);
      gap: 1rem;
      width: 80%;
      margin-bottom: 1rem;

      @include lg {
        width: 40%;
      }

      input,
      textarea {
        padding: 0.5rem;
        min-height: 2rem;
        width: 100%;
      }

      textarea {
        min-height: 20rem;
      }
    }
  }

  div.form__row--image-description {
    @include lg {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: stretch;
    }

    div.img__container {
      height: 100%;

      img {
        min-width: 10rem;
        width: 75%;
        max-width: 100%;
      }
    }

    div.img__field {
      width: 100%;
    }
  }
}

.category__color {
  width: 50%;
  margin: auto;
}

.user--admin {
  font-size: 2.25rem;
}
