$admin-layout-color: #333;

$font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
$dw-font-family: 'dw-shop' !default;
$dw-font-path: '/public/assets/fonts/dw-shop' !default;

$dw-eye-open: '\900';
$dw-eye-close: '\901';
$dw-cart: '\902';
$dw-trash: '\903';
$dw-edit: '\904';
$dw-search: '\905';

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// 2K and higher screens
$screen-xxl-min: 1800px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra extra large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

@mixin flex($align: stretch, $justify: flex-start, $flex-flow: row nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-flow: $flex-flow;
}

%btn {
  @include flex(center, center);
  width: fit-content;
  background-color: transparent;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  border: none;
  border-radius: 5px;
  border: 1px solid;
  transition: all 200ms ease-in-out;

  // effet d'appui sur le bouton
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  &:hover {
    background-color: #fff;
    color: #000;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
    pointer-events: none;
  }
}
