@import './variables';

.form {
  @include flex(flex-end, flex-start, column nowrap);

  .btn {
    &:hover {
      background-color: #2e4447;
      color: #fff;
      border-color: #2e4447;
    }
  }
}

.cart {
  width: 100%;
  text-align: center;

  th,
  td {
    padding: 1rem;
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .product {
    gap: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: hidden;

    &__header {
      @include flex(center);
      gap: 1rem;

      font-size: 1.25rem;

      img {
        width: 5rem;
      }
    }

    &__quantity {
      vertical-align: middle;

      div {
        @include flex(center, center);
        gap: 0.5rem;

        input {
          width: 3rem;
          text-align: center;
          vertical-align: middle;
        }

        span {
          @include flex(center, center);
          font-size: 1.25rem;
          cursor: pointer;
        }
      }
    }

    &__total {
      vertical-align: middle;
    }
  }
}
