.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.form .btn:hover {
  background-color: #2e4447;
  color: #fff;
  border-color: #2e4447;
}

.cart {
  width: 100%;
  text-align: center;
}

.cart th,
.cart td {
  padding: 1rem;
}

.cart tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.cart .product {
  gap: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.cart .product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1rem;
  font-size: 1.25rem;
}

.cart .product__header img {
  width: 5rem;
}

.cart .product__quantity {
  vertical-align: middle;
}

.cart .product__quantity div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0.5rem;
}

.cart .product__quantity div input {
  width: 3rem;
  text-align: center;
  vertical-align: middle;
}

.cart .product__quantity div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 1.25rem;
  cursor: pointer;
}

.cart .product__total {
  vertical-align: middle;
}
/*# sourceMappingURL=cart.css.map */