h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4rem;
}

caption,
legend {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 4rem;
  width: 100%;
}

form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 2rem;
}

form fieldset,
form .cart {
  width: 50%;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
  position: relative;
}

div:first-child {
  margin-top: 0;
}

div.form__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 0;
  gap: 2rem;
  width: 100%;
}

div.form__row div {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

div input {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border-bottom: 4px solid transparent;
  width: 100%;
}

div input:placeholder-shown + label {
  font-size: 0.75em;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 0.5rem;
}

div input:focus, div input:not(:placeholder-shown) {
  border-bottom: 4px solid #294345;
}

div input:focus + label,
div input:not(:placeholder-shown) + label {
  bottom: 2.4rem;
  left: 0;
  font-size: 1em;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

div input.error {
  border: 2px solid #c50c0c;
}

div label {
  cursor: text;
  pointer-events: none;
  position: absolute;
  -webkit-transition: all 175ms ease-in;
  transition: all 175ms ease-in;
}

.cart {
  text-align: center;
}

.cart th,
.cart td {
  padding: 1rem;
}

.cart tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.cart .product {
  gap: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.cart .product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1rem;
  font-size: 1.25rem;
}

.cart .product__header img {
  width: 5rem;
}

.cart .product__quantity {
  vertical-align: middle;
}

.cart .product__quantity div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0.5rem;
}

.cart .product__total {
  vertical-align: middle;
}
/*# sourceMappingURL=order.css.map */