@import './variables';

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4rem;
}

caption,
legend {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

form {
  @include flex(flex-end, center, column nowrap);

  & > div {
    @include flex(flex-start, center);
    gap: 4rem;
    width: 100%;
  }

  fieldset {
    @include flex(flex-start, space-between, column nowrap);
    gap: 2rem;
  }

  fieldset,
  .cart {
    width: 50%;
  }
}

div {
  @include flex(flex-start, center, column nowrap);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &.form__row {
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 0;
    gap: 2rem;
    width: 100%;

    div {
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
    }
  }

  input {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border-bottom: 4px solid transparent;
    width: 100%;

    &:placeholder-shown + label {
      font-size: 0.75em;
      bottom: 50%;
      transform: translateY(50%);
      left: 0.5rem;
    }

    &:focus,
    &:not(:placeholder-shown) {
      border-bottom: 4px solid #294345;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      bottom: 2.4rem;
      left: 0;
      font-size: 1em;
      transform: translateY(0);
      // color: #fff;
    }

    &.error {
      border: 2px solid rgb(197, 12, 12);
    }
  }

  label {
    cursor: text;
    pointer-events: none;
    position: absolute;
    transition: all 175ms ease-in;
  }
}

.cart {
  text-align: center;

  th,
  td {
    padding: 1rem;
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .product {
    gap: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: hidden;

    &__header {
      @include flex(center);
      gap: 1rem;

      font-size: 1.25rem;

      img {
        width: 5rem;
      }
    }

    &__quantity {
      vertical-align: middle;

      div {
        @include flex(center, center);
        gap: 0.5rem;
      }
    }

    &__total {
      vertical-align: middle;
    }
  }
}
