main {
  padding: 0;
}

.products__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem auto;
      grid-template-columns: 20rem auto;
      grid-template-areas: 'sidebar products';
}

.search__form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: fixed;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  padding: 2rem;
  margin-bottom: 2rem;
}

.search__form__container .search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.search__form__container .search__form__price {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.search__form__container .search__form input[type='search'] {
  border: 1px solid black;
  padding: 1rem;
}

.search__form__container .search__form input[type='range'] {
  width: 100%;
}

.search__form__container .search__form input[type='range']::before {
  content: '';
  position: absolute;
  color: #000;
  top: -1rem;
}

.search__form__container .search__form #lower-text,
.search__form__container .search__form #upper-text {
  position: absolute;
  top: -1rem;
}

.search__form__container .search__form button {
  color: black;
  border: 1px solid;
  margin-top: 2rem;
  background-color: #fff;
}

.search__form__container .search__form button:hover {
  background-color: #2d474a;
  color: #fff;
  border: 1px solid #2d474a;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 6rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: products;
  padding: 4rem;
}

@media (min-width: 768px) {
  .products__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 4rem;
  }
}

.products__container article {
  min-width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 80%;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.products__container article:hover {
  border: 1px solid #294345;
}

@media (min-width: 768px) {
  .products__container article {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .products__container article {
    max-width: 600px;
  }
}

.products__container article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  gap: 2rem;
}

.products__container article form a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 1rem;
}

.products__container article button,
.products__container article .add-to-cart-not-logged {
  position: relative;
  border: none;
  overflow: hidden;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  width: 265px;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
  background-color: #294345;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.products__container article button:hover,
.products__container article .add-to-cart-not-logged:hover {
  background-color: #3c6265;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.products__container article img {
  width: 12rem;
}

.products__container article .product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
}

.products__container article .product__footer__price {
  font-size: 1.5rem;
  font-weight: 600;
}

.products__container article .product__footer input {
  text-align: center;
  margin-left: 0.5rem;
}

.products__container article .add-to-cart-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.products__container article .added-to-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-300%, -50%);
          transform: translate(-300%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@-webkit-keyframes change-color {
  from {
    background-color: #294345;
  }
  to {
    background-color: #467275;
  }
}

@keyframes change-color {
  from {
    background-color: #294345;
  }
  to {
    background-color: #467275;
  }
}

@-webkit-keyframes change-color-reverse {
  from {
    background-color: #467275;
  }
  to {
    background-color: #294345;
  }
}

@keyframes change-color-reverse {
  from {
    background-color: #467275;
  }
  to {
    background-color: #294345;
  }
}

@-webkit-keyframes slide-from-left {
  from {
    -webkit-transform: translate(-300%, -50%);
            transform: translate(-300%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes slide-from-left {
  from {
    -webkit-transform: translate(-300%, -50%);
            transform: translate(-300%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes slide-to-right {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    -webkit-transform: translate(15rem, -50%);
            transform: translate(15rem, -50%);
  }
}

@keyframes slide-to-right {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    -webkit-transform: translate(15rem, -50%);
            transform: translate(15rem, -50%);
  }
}

.product__container article {
  padding: 4rem;
}

.product__container article h2 {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.product__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 4rem;
}

.product__container form > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  line-height: 1.25;
  max-width: 600px;
  gap: 2rem;
}

.product__container .product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
}

.product__container .product__footer__price {
  font-size: 1.5rem;
  font-weight: 600;
}

.product__container button,
.product__container .add-to-cart-not-logged {
  position: relative;
  border: none;
  overflow: hidden;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  width: 265px;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
  background-color: #294345;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product__container button:hover,
.product__container .add-to-cart-not-logged:hover {
  background-color: #3c6265;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.product__container .add-to-cart-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.product__container .added-to-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-300%, -50%);
          transform: translate(-300%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=products.css.map */