@import './variables';

main {
  padding: 0;
}

.products__wrapper {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-areas: 'sidebar products';
}

.search__form__container {
  @include flex(center, flex-start, column nowrap);
  position: fixed;
  grid-area: sidebar;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  padding: 2rem;

  margin-bottom: 2rem;

  .search__form {
    @include flex(center, flex-start, column nowrap);

    // &::before {
    // on peut recuperer le contenu de l'attribut present sur l'élément
    // content: attr(data-search);
    // }

    &__price {
      align-self: flex-start;
      font-size: 1.25rem;
      margin: 0.5rem 0;
    }

    input[type='search'] {
      border: 1px solid black;
      padding: 1rem;
    }

    input[type='range'] {
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        color: #000;
        top: -1rem;
      }
    }

    #lower-text,
    #upper-text {
      position: absolute;
      top: -1rem;
    }

    button {
      color: black;
      border: 1px solid;
      margin-top: 2rem;
      background-color: #fff;

      &:hover {
        background-color: #2d474a;
        color: #fff;
        border: 1px solid #2d474a;
      }
    }
  }
}

.products__container {
  @include flex(center, center, row wrap);
  gap: 6rem;
  grid-area: products;
  padding: 4rem;

  @include md {
    @include flex(stretch, space-between, row wrap);
    gap: 4rem;
  }

  article {
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 80%;
    background-color: #ffffff;
    background-image: url('https://www.transparenttextures.com/patterns/groovepaper.png');
    transition: all 200ms ease-in-out;

    &:hover {
      border: 1px solid #294345;
    }

    @include md {
      width: 25%;
    }

    @include lg {
      max-width: 600px;
    }

    @include xl {
    }

    form {
      @include flex(center, space-between, column nowrap);
      height: 100%;
      gap: 2rem;

      a {
        @include flex(center, center, column nowrap);
        gap: 1rem;
      }
    }

    button,
    .add-to-cart-not-logged {
      position: relative;
      border: none;
      overflow: hidden;
      font-size: 1.25rem;
      padding: 0.5rem 2rem;
      margin-top: 1rem;
      width: 265px;
      height: 40px;
      border-radius: 5px;
      color: #ffffff;
      box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
      background-color: #294345;
      transition: all 200ms ease-in-out;

      &:hover {
        background-color: lighten(#294345, 10%);
        transform: scale(1.025);
      }
    }

    img {
      width: 12rem;
    }

    .product__footer {
      @include flex(center, space-between);
      width: 100%;

      &__price {
        font-size: 1.5rem;
        font-weight: 600;
      }

      input {
        text-align: center;
        margin-left: 0.5rem;
      }
    }

    .add-to-cart-text {
      @include flex(center, center);
      gap: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
    }

    .added-to-cart {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-300%, -50%);
      width: fit-content;
    }
  }
}

@keyframes change-color {
  from {
    background-color: #294345;
  }
  to {
    background-color: lighten(#294345, 15%);
  }
}

@keyframes change-color-reverse {
  from {
    background-color: lighten(#294345, 15%);
  }
  to {
    background-color: #294345;
  }
}

@keyframes slide-from-left {
  from {
    transform: translate(-300%, -50%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slide-to-right {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(15rem, -50%);
  }
}

.product__container {
  article {
    padding: 4rem;

    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  form {
    @include flex(stretch, center);
    gap: 4rem;

    & > div:last-child {
      @include flex(flex-start, space-between, column nowrap);
      line-height: 1.25;
      max-width: 600px;
      gap: 2rem;
    }
  }

  .product__footer {
    @include flex(center, space-between);
    width: 100%;

    &__price {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  button,
  .add-to-cart-not-logged {
    position: relative;
    border: none;
    overflow: hidden;
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    width: 265px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
    background-color: #294345;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: lighten(#294345, 10%);
      transform: scale(1.025);
    }
  }

  .add-to-cart-text {
    @include flex(center, center);
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }

  .added-to-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, -50%);
    width: fit-content;
  }
}
