@import './reset';
@import './variables';
@import './fonts';
@import './keyframes';

html {
  scrollbar-width: thin;
  scrollbar-color: #337b85 #1a4247;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #1a4247;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background: #337b85;

    &:hover {
      background: #4eb4c2;
    }
  }

  &::-webkit-scrollbar:window-inactive {
    background: #102427;
  }
}

body {
  font-family: $font-family;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 8rem auto 5rem;
  grid-template-areas: 'header' 'main' 'footer';
}

header {
  @include flex(center, space-between);
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(26, 66, 71, 0.95);
  background-image: url('https://www.transparenttextures.com/patterns/assault.png');
  color: #fff;
  padding: 2rem 4rem;
  font-size: 1.25rem;
  height: 8rem;
  z-index: 100;

  div {
    width: 12rem;

    a {
      display: block;
      width: 100%;
    }

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  nav {
    ul {
      @include flex(center, center);
      gap: 1rem;

      a {
        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }
}

main {
  padding: 4rem;
  grid-area: main;
  color: rgb(63, 63, 63);
}

footer {
  @include flex(center, center);
  grid-area: footer;
}

p.error {
  color: rgb(173, 16, 16);
  background-color: rgba(223, 105, 105, 0.301);
  border: 2px solid rgba(144, 17, 17, 0.575);
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.8em;
  width: 100%;
}

.btn {
  @extend %btn;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #000 !important;
  pointer-events: none !important;
}

span.not-in-stock {
  @include flex(center, center);
  width: 100%;
  margin: 1rem 0 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(170, 17, 17);
}

.active {
  border-bottom: 2px solid #fff;
}

.cart--icon {
  @include flex(center, center);
  &::before {
    font-family: $dw-font-family;
    content: $dw-cart;
  }
}

.notification {
  position: fixed;
  top: 15vh;
  padding: 0.5rem 4rem;
  background-color: rgb(160, 241, 160);
  color: rgb(15, 71, 15);
  border-radius: 5px;
  border: 1px solid green;
  font-size: 1.25rem;
  box-shadow: 2px 2px 10px 1px rgba(18, 80, 18, 0.322);
  animation: notif-slide-from-right 350ms forwards cubic-bezier(0.43, 0.92, 0.95, 1.82);

  &--disapear {
    animation: notif-slide-to-right 350ms forwards linear;
  }
}

.edit {
  color: #144126;
  transition: all 200ms ease;

  &:hover {
    color: lighten(#144126, 15%);
    transform: scale(1.2);
  }

  &::before {
    font-family: $dw-font-family;
    content: $dw-edit;
  }
}

.trash {
  border: none;
  background-color: transparent;
  font-size: 1.1em;
  color: red;
  transition: all 200ms ease;

  &:hover {
    color: lighten(red, 15%);
    transform: scale(1.2);
  }

  &::before {
    font-family: $dw-font-family;
    content: $dw-trash;
    height: 100%;
    width: 100%;
  }
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  form {
    @include flex(center, center, column nowrap);
    gap: 4rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    min-height: 10rem;
    max-width: 900px;
    width: 80%;
    padding: 4rem;

    div {
      @include flex(center, center);
      gap: 2rem;

      .btn {
        &:first-child {
          color: red;

          &:hover {
            background-color: red;
            color: #fff;
          }
        }

        &:last-child {
          color: green;

          &:hover {
            background-color: green;
            color: #fff;
          }
        }
      }
    }
  }
}

.search__form {
  @include flex(stretch, center);
  gap: 1.5rem;
  height: 2.5rem;

  input {
    height: 100%;
    border-radius: 10px;
    border: none;
    min-width: 15rem;
  }

  button {
    @include flex(center, center);
    gap: 0.5rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.5rem;
    border-radius: 10px;
    position: relative;
    background-color: transparent;
    font-size: 1rem;
    height: 100%;
    transition: all 200ms ease;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.8);

    &::after {
      font-size: 1.5rem;
      content: $dw-search;
      font-family: $dw-font-family;
    }

    &:hover {
      background-color: #fff;
      color: #000;
    }

    &:active {
      transform: translate(2px, 2px);
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    }
  }
}

input[type='range'] {
  appearance: none;
  height: 1rem;
  margin: 0;
  border: 0;
  border-radius: 1px;
  background: linear-gradient(grey, grey) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;

  &:active,
  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background-color: #2d474a;
    position: relative;
    margin: 5px 0;
    z-index: 1;
    /* Add some margin to ensure box shadow is shown */
    cursor: pointer;
    appearance: none;
    pointer-events: all;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
    transition: all 200ms ease;

    &:hover {
      border: 1px solid darken(#2d474a, 10%);
      background-color: lighten(#2d474a, 15%);
    }
  }
}

.multi-range {
  position: relative;
  height: 50px;
  width: 14rem;

  input[type='range'] {
    position: absolute;
  }
}

.welcome {
  @include flex(center, space-between);
  gap: 2rem;

  & > div:first-child {
    @include flex(flex-start, center, column nowrap);
    gap: 2rem;
    width: 40%;
    line-height: 1.25;

    h1 {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

.carousel {
  @include flex(center, center);
  position: relative;
  margin: 4rem auto;
  width: 60%;
  height: 30rem;
  max-width: 900px;
  overflow: hidden;

  img {
    max-width: 100%;
    opacity: 0;
    position: absolute;
    transition: all 1000ms ease-in-out;

    &.active {
      position: static;
      opacity: 1;
    }
  }

  .arrows {
    font-size: 3.25rem;
  }

  .arrow {
    &--left,
    &--right {
      @include flex(center, center);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color: rgba(70, 70, 70, 0.5);
      color: rgb(211, 190, 141);
      height: 3.25rem;
      width: 3.25rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 250ms ease;

      &:hover {
        transform: scale(1.1);
        border: 2px solid white;
      }
    }

    &--left {
      left: 0.5rem;
    }
    &--right {
      right: 0.5rem;
    }
  }

  .controls {
    @include flex(center, center);
    gap: 1rem;
    position: absolute;
    left: 50%;
    bottom: 1.5rem;
    transform: translateX(-50%);

    &__indicator {
      height: 1rem;
      width: 1rem;
      background-color: rgba(70, 70, 70, 0.5);
      border: 1px solid black;
      border-radius: 50%;
      cursor: pointer;
      transition: all 250ms ease;

      &:hover {
        transform: scale(1.1);
        border: 1px solid white;
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
}

.section-2 {
  @include flex(flex-start, center, column nowrap);
  line-height: 1.25;
  gap: 2rem;

  h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
  border-color: #fa755a;
}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.payment__success {
  line-height: 1.5;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4rem;
  }
}
