<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>dw shop |
			{{ page_title }}</title>
		<link rel="stylesheet" href="/public/assets/scss/style.css"/>
		<link rel="stylesheet" href="/public/assets/scss/admin/admin.css"/> {% block head %}{% endblock %}
		</head>
		<body>
			<div class="admin">
				<header class="admin--header">
					<form class="search__form">
						<input type="search" name="q" id="search"/>
						<label for="search">
							<button type="submit">rechercher</button>
						</label>
					</form>
					<div class="admin--welcome">
						<p>
							<span>
								Bienvenue
							</span>
							<span>
								{{user.first_name}}!
							</span>
						</p>
						<a href="/logout">se déconnecter</a>
					</div>
				</header>
				<nav class="admin--sidebar">
					<div class="img__container">
						<a href="/">
							<img src="/public/assets/images/logo/logo_small.png" alt=""/>
						</a>
					</div>
					<ul>
						<li><a href="/admin/produits"class="{{ 'produits' in active_page ? 'active' : '' }}">Produits</a></li>
						<li><a href="/admin/categories"class="{{ 'categories' in active_page ? 'active' : '' }}">Catégories</a></li>
						<li><a href="/admin/utilisateurs"class="{{ 'utilisateurs' in active_page ? 'active' : '' }}">Utilisateurs</a></li>
						<li><a href="/admin/commandes"class="{{ 'commandes' in active_page ? 'active' : '' }}">Commandes</a></li>
					</ul>
				</nav>
				<main>
					{% block content %}{% endblock %}
				</main>
			</div>
		</body>
	</html>
