<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>dw shop |
			{{ page_title }}</title>

		<link rel="stylesheet" href="/public/assets/scss/style.css">
		<link rel="stylesheet" href="/public/assets/scss/auth/auth.css">
		<script src="/public/assets/js/auth.js" defer></script>
	</head>

	<body>
		<main>
			<div class="container">
				<form method='POST'>
					<fieldset>
						{% block form_inputs %}{% endblock %}
						<div>
							<button type="submit">{{button_text}}</button>
							{% if login_page %}
								<a href="/inscription">pas de compte ?</a>
							{% endif %}
						</div>
					</fieldset>
				</form>
				<div class="blur"></div>
			</div>
		</main>
	</body>
</html>
